# 1. Obtaining Data

## 1.1 Preparations

To obtain data with OpenBB, we need to register an account on OpenBB Hub, and would better generate a personal access token. Suppose we save the toke in the file `obbToken`:

In [8]:
from openbb import obb

with open("obbToken", "r") as f:
    token = f.readlines()[0]

obb.account.login(pat=token)

obb.user.preferences.output_type = "dataframe"

## 1.2 Historical Data of Equity Prices

### 1.2.1 Yahoo! Finance and `yfinance`

[Yahoo! Finance](https://finance.yahoo.com/) provides us lots of financial data freely, including historical equity prices. The open source Python library [`yfinance`](https://github.com/ranaroussi/yfinance) offers an easy way to use Yahoo's publicly available APIs to obtain these data.

#### `yfinance.download()`

To download historical price data of equities, the simplest method is to use `yfinance.download()`, which will generate a DataFrame with a Datatimeindex "Date", and 6 columns ("Open", "High", "Low", "Close", "Adj Close", and "Volume"):

In [59]:
import yfinance as yf

yf.download(
    tickers="SPY",
    period="max",
    # start="2000-01-01",
    # end="2024-08-31",
    # interval="1d", # Valid intervals: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo
    # prepost=False, # Include pre and post market data
    # auto_adjust=False, # False: Include an Adj Close column; True: Adjust all OHLC, no Adj Close column
    # actions=False, # True: Download stock dividends and stock splits events
    progress=False
)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,24.684107,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,24.859655,480500
1993-02-02,44.218750,44.375000,44.125000,44.343750,24.912333,201300
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.175682,529400
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.281019,531500
...,...,...,...,...,...,...
2024-08-27,559.489990,562.059998,558.320007,561.559998,561.559998,32693900
2024-08-28,561.210022,561.650024,555.039978,558.299988,558.299988,41066000
2024-08-29,560.309998,563.679993,557.179993,558.349976,558.349976,38715200
2024-08-30,560.770020,564.200012,557.140015,563.679993,563.679993,62700100
2024-09-03,560.469971,560.809998,549.510010,552.080017,552.080017,60491400

It also supports multiple tickers, generating a hierarchical indexing DataFrame:

In [62]:
tickerList = ["AAPL", "GOOG"]

yf.download(
    tickers=tickerList,
    period="max",
    progress=False
)

Price                       Adj Close                   Close              \
Ticker                           AAPL        GOOG        AAPL        GOOG
Date
1980-12-12 00:00:00+00:00    0.098943         NaN    0.128348         NaN
1980-12-15 00:00:00+00:00    0.093781         NaN    0.121652         NaN
1980-12-16 00:00:00+00:00    0.086898         NaN    0.112723         NaN
1980-12-17 00:00:00+00:00    0.089049         NaN    0.115513         NaN
1980-12-18 00:00:00+00:00    0.091630         NaN    0.118862         NaN
...                               ...         ...         ...         ...
2024-08-27 00:00:00+00:00  228.029999  166.380005  228.029999  166.380005
2024-08-28 00:00:00+00:00  226.490005  164.500000  226.490005  164.500000
2024-08-29 00:00:00+00:00  229.789993  163.399994  229.789993  163.399994
2024-08-30 00:00:00+00:00  229.000000  165.110001  229.000000  165.110001
2024-09-03 00:00:00+00:00  222.770004  158.610001  222.770004  158.610001

Price                            High                     Low              \
Ticker                           AAPL        GOOG        AAPL        GOOG
Date
1980-12-12 00:00:00+00:00    0.128906         NaN    0.128348         NaN
1980-12-15 00:00:00+00:00    0.122210         NaN    0.121652         NaN
1980-12-16 00:00:00+00:00    0.113281         NaN    0.112723         NaN
1980-12-17 00:00:00+00:00    0.116071         NaN    0.115513         NaN
1980-12-18 00:00:00+00:00    0.119420         NaN    0.118862         NaN
...                               ...         ...         ...         ...
2024-08-27 00:00:00+00:00  228.850006  168.244995  224.889999  166.160004
2024-08-28 00:00:00+00:00  229.860001  167.389999  225.679993  163.279999
2024-08-29 00:00:00+00:00  232.919998  167.630005  228.880005  161.981995
2024-08-30 00:00:00+00:00  230.399994  165.279999  227.479996  163.410004
2024-09-03 00:00:00+00:00  229.000000  163.380005  221.169998  157.854996

Price                            Open                 Volume
Ticker                           AAPL        GOOG       AAPL        GOOG
Date
1980-12-12 00:00:00+00:00    0.128348         NaN  469033600         NaN
1980-12-15 00:00:00+00:00    0.122210         NaN  175884800         NaN
1980-12-16 00:00:00+00:00    0.113281         NaN  105728000         NaN
1980-12-17 00:00:00+00:00    0.115513         NaN   86441600         NaN
1980-12-18 00:00:00+00:00    0.118862         NaN   73449600         NaN
...                               ...         ...        ...         ...
2024-08-27 00:00:00+00:00  226.000000  167.610001   35934600  13718200.0
2024-08-28 00:00:00+00:00  227.919998  166.779999   38052200  15208700.0
2024-08-29 00:00:00+00:00  230.100006  166.059998   51906300  17133800.0
2024-08-30 00:00:00+00:00  230.190002  164.220001   52990800  18498800.0
2024-09-03 00:00:00+00:00  228.550003  163.315002   50042900  26508900.0

[11022 rows x 12 columns]

To access the adjusted close price of AAPL, use `data['Adj Close']['AAPL']`.

To generate a different order of these multiple indexes, set the parameter `group_by="ticker"`, and then we shall use `data['AAPL']['Adj Close']` to access the above data:

In [56]:
yf.download(
    tickers=tickerList,
    period="max",
    group_by="ticker",
    progress=False
)

Ticker                           GOOG                                      \
Price                            Open        High         Low       Close
Date
1980-12-12 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-15 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-16 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-17 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-18 00:00:00+00:00         NaN         NaN         NaN         NaN
...                               ...         ...         ...         ...
2024-08-27 00:00:00+00:00  167.610001  168.244995  166.160004  166.380005
2024-08-28 00:00:00+00:00  166.779999  167.389999  163.279999  164.500000
2024-08-29 00:00:00+00:00  166.059998  167.630005  161.981995  163.399994
2024-08-30 00:00:00+00:00  164.220001  165.279999  163.410004  165.110001
2024-09-03 00:00:00+00:00  163.315002  163.380005  157.854996  158.610001

Ticker                                                   AAPL              \
Price                       Adj Close      Volume        Open        High
Date
1980-12-12 00:00:00+00:00         NaN         NaN    0.128348    0.128906
1980-12-15 00:00:00+00:00         NaN         NaN    0.122210    0.122210
1980-12-16 00:00:00+00:00         NaN         NaN    0.113281    0.113281
1980-12-17 00:00:00+00:00         NaN         NaN    0.115513    0.116071
1980-12-18 00:00:00+00:00         NaN         NaN    0.118862    0.119420
...                               ...         ...         ...         ...
2024-08-27 00:00:00+00:00  166.380005  13718200.0  226.000000  228.850006
2024-08-28 00:00:00+00:00  164.500000  15208700.0  227.919998  229.860001
2024-08-29 00:00:00+00:00  163.399994  17133800.0  230.100006  232.919998
2024-08-30 00:00:00+00:00  165.110001  18498800.0  230.190002  230.399994
2024-09-03 00:00:00+00:00  158.610001  26508900.0  228.550003  229.000000

Ticker
Price                             Low       Close   Adj Close     Volume
Date
1980-12-12 00:00:00+00:00    0.128348    0.128348    0.098943  469033600
1980-12-15 00:00:00+00:00    0.121652    0.121652    0.093781  175884800
1980-12-16 00:00:00+00:00    0.112723    0.112723    0.086898  105728000
1980-12-17 00:00:00+00:00    0.115513    0.115513    0.089049   86441600
1980-12-18 00:00:00+00:00    0.118862    0.118862    0.091630   73449600
...                               ...         ...         ...        ...
2024-08-27 00:00:00+00:00  224.889999  228.029999  228.029999   35934600
2024-08-28 00:00:00+00:00  225.679993  226.490005  226.490005   38052200
2024-08-29 00:00:00+00:00  228.880005  229.789993  229.789993   51906300
2024-08-30 00:00:00+00:00  227.479996  229.000000  229.000000   52990800
2024-09-03 00:00:00+00:00  221.169998  222.770004  222.770004   50042900

[11022 rows x 12 columns]

#### `yfinance.Ticker()` and `yfinance.Tickers()`

It is more flexible to use `yfinance.Ticker()` to obtain equity data from Yahoo! Finance. It accepts ticker symbols and defines a new object with many methods:

In [38]:
spy = yf.Ticker("SPY")

print(spy)

yfinance.Ticker object <SPY>

In [39]:
spy.info

{'longBusinessSummary': 'The Trust seeks to achieve its investment objective by holding a portfolio of the common stocks that are included in the index (the “Portfolio”), with the weight of each stock in the Portfolio substantially corresponding to the weight of such stock in the index.',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 563.68,
 'open': 560.47,
 'dayLow': 549.53,
 'dayHigh': 560.805,
 'regularMarketPreviousClose': 563.68,
 'regularMarketOpen': 560.47,
 'regularMarketDayLow': 549.53,
 'regularMarketDayHigh': 560.805,
 'trailingPE': 27.810743,
 'volume': 53430211,
 'regularMarketVolume': 53430211,
 'averageVolume': 50016042,
 'averageVolume10days': 41973070,
 'averageDailyVolume10Day': 41973070,
 'ask': 550.13,
 'bidSize': 1200,
 'askSize': 1300,
 'yield': 0.0124,
 'totalAssets': 562499813376,
 'fiftyTwoWeekLow': 409.21,
 'fiftyTwoWeekHigh': 565.16,
 'fiftyDayAverage': 549.198,
 'twoHundredDayAverage': 512.5498,
 'trailingAnnualDividendRate': 5.662,
 'trailingAnnualDividendYield': 0.010044707,
 'navPrice': 551.99866,
 'currency': 'USD',
 'category': 'Large Blend',
 'ytdReturn': 0.1689133,
 'beta3Year': 1.0,
 'fundFamily': 'SPDR State Street Global Advisors',
 'fundInceptionDate': 727660800,
 'legalType': 'Exchange Traded Fund',
 'threeYearAverageReturn': 0.0840409,
 'fiveYearAverageReturn': 0.1550405,
 'exchange': 'PCX',
 'quoteType': 'ETF',
 'symbol': 'SPY',
 'underlyingSymbol': 'SPY',
 'shortName': 'SPDR S&P 500',
 'longName': 'SPDR S&P 500 ETF Trust',
 'firstTradeDateEpochUtc': 728317800,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'e97de790-7e95-3762-8917-c59fcab3735e',
 'messageBoardId': 'finmb_6160262',
 'gmtOffSetMilliseconds': -14400000,
 'trailingPegRatio': None}

In [65]:
spy.history(
    period="max",
    # start="2000-01-01",
    # end="2024-08-31",
    # interval="1d",
    # prepost=False
    # auto_adjust=True,
    # actions=True
)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
1993-01-29 00:00:00-05:00,24.701663,24.701663,24.578769,24.684107,1003200,0.0,0.0,0.0
1993-02-01 00:00:00-05:00,24.701672,24.859678,24.701672,24.859678,480500,0.0,0.0,0.0
1993-02-02 00:00:00-05:00,24.842111,24.929893,24.789443,24.912336,201300,0.0,0.0,0.0
1993-02-03 00:00:00-05:00,24.947441,25.193229,24.929885,25.175673,529400,0.0,0.0,0.0
1993-02-04 00:00:00-05:00,25.263453,25.333678,24.982553,25.281010,531500,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-08-27 00:00:00-04:00,559.489990,562.059998,558.320007,561.559998,32693900,0.0,0.0,0.0
2024-08-28 00:00:00-04:00,561.210022,561.650024,555.039978,558.299988,41066000,0.0,0.0,0.0
2024-08-29 00:00:00-04:00,560.309998,563.679993,557.179993,558.349976,38715200,0.0,0.0,0.0
2024-08-30 00:00:00-04:00,560.770020,564.200012,557.140015,563.679993,62700100,0.0,0.0,0.0
2024-09-03 00:00:00-04:00,560.469971,560.809998,549.510010,552.080017,60491400,0.0,0.0,0.0

The default values of the parameters `auto_adjust` and `actions` are different from that in `yfinance.download()`. Of course we can set them the same:

In [57]:
spy.history(
    period="max",
    auto_adjust=False,
    actions=False
)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29 00:00:00-05:00,43.968750,43.968750,43.750000,43.937500,24.684114,1003200
1993-02-01 00:00:00-05:00,43.968750,44.250000,43.968750,44.250000,24.859669,480500
1993-02-02 00:00:00-05:00,44.218750,44.375000,44.125000,44.343750,24.912334,201300
1993-02-03 00:00:00-05:00,44.406250,44.843750,44.375000,44.812500,25.175684,529400
1993-02-04 00:00:00-05:00,44.968750,45.093750,44.468750,45.000000,25.281034,531500
...,...,...,...,...,...,...
2024-08-27 00:00:00-04:00,559.489990,562.059998,558.320007,561.559998,561.559998,32693900
2024-08-28 00:00:00-04:00,561.210022,561.650024,555.039978,558.299988,558.299988,41066000
2024-08-29 00:00:00-04:00,560.309998,563.679993,557.179993,558.349976,558.349976,38715200
2024-08-30 00:00:00-04:00,560.770020,564.200012,557.140015,563.679993,563.679993,62700100
2024-09-03 00:00:00-04:00,560.469971,560.809998,549.510010,552.080017,552.080017,60491400

Dividends, splits, and capital gains data can be obtained with the `.actions` method:

In [66]:
spy.actions

                           Dividends  Stock Splits  Capital Gains
Date
1993-03-19 00:00:00-05:00      0.213           0.0            0.0
1993-06-18 00:00:00-04:00      0.318           0.0            0.0
1993-09-17 00:00:00-04:00      0.286           0.0            0.0
1993-12-17 00:00:00-05:00      0.317           0.0            0.0
1994-03-18 00:00:00-05:00      0.271           0.0            0.0
...                              ...           ...            ...
2023-06-16 00:00:00-04:00      1.638           0.0            0.0
2023-09-15 00:00:00-04:00      1.583           0.0            0.0
2023-12-15 00:00:00-05:00      1.906           0.0            0.0
2024-03-15 00:00:00-04:00      1.595           0.0            0.0
2024-06-21 00:00:00-04:00      1.759           0.0            0.0

[127 rows x 3 columns]

or with the `.dividends`, `.splits`, and `capital_gains` methods, respectively:

In [70]:
spy.dividends

Date
1993-03-19 00:00:00-05:00    0.213
1993-06-18 00:00:00-04:00    0.318
1993-09-17 00:00:00-04:00    0.286
1993-12-17 00:00:00-05:00    0.317
1994-03-18 00:00:00-05:00    0.271
                             ...
2023-06-16 00:00:00-04:00    1.638
2023-09-15 00:00:00-04:00    1.583
2023-12-15 00:00:00-05:00    1.906
2024-03-15 00:00:00-04:00    1.595
2024-06-21 00:00:00-04:00    1.759
Name: Dividends, Length: 127, dtype: float64

For multiple tickers, use `yfinance.Tickers()`:

In [79]:
tickers = yf.Tickers(tickerList)

tickers.history(
    period="max",
    group_by="ticker",
    actions=False,
    progress=False
)

Ticker                           GOOG                                      \
Price                            Open        High         Low       Close
Date
1980-12-12 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-15 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-16 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-17 00:00:00+00:00         NaN         NaN         NaN         NaN
1980-12-18 00:00:00+00:00         NaN         NaN         NaN         NaN
...                               ...         ...         ...         ...
2024-08-27 00:00:00+00:00  167.610001  168.244995  166.160004  166.380005
2024-08-28 00:00:00+00:00  166.779999  167.389999  163.279999  164.500000
2024-08-29 00:00:00+00:00  166.059998  167.630005  161.981995  163.399994
2024-08-30 00:00:00+00:00  164.220001  165.279999  163.410004  165.110001
2024-09-03 00:00:00+00:00  163.315002  163.380005  157.854996  158.610001

Ticker                                       AAPL                          \
Price                          Volume        Open        High         Low
Date
1980-12-12 00:00:00+00:00         NaN    0.098943    0.099373    0.098943
1980-12-15 00:00:00+00:00         NaN    0.094211    0.094211    0.093781
1980-12-16 00:00:00+00:00         NaN    0.087328    0.087328    0.086898
1980-12-17 00:00:00+00:00         NaN    0.089049    0.089479    0.089049
1980-12-18 00:00:00+00:00         NaN    0.091630    0.092061    0.091630
...                               ...         ...         ...         ...
2024-08-27 00:00:00+00:00  13718200.0  226.000000  228.850006  224.889999
2024-08-28 00:00:00+00:00  15208700.0  227.919998  229.860001  225.679993
2024-08-29 00:00:00+00:00  17133800.0  230.100006  232.919998  228.880005
2024-08-30 00:00:00+00:00  18498800.0  230.190002  230.399994  227.479996
2024-09-03 00:00:00+00:00  26508900.0  228.550003  229.000000  221.169998

Ticker
Price                           Close     Volume
Date
1980-12-12 00:00:00+00:00    0.098943  469033600
1980-12-15 00:00:00+00:00    0.093781  175884800
1980-12-16 00:00:00+00:00    0.086898  105728000
1980-12-17 00:00:00+00:00    0.089049   86441600
1980-12-18 00:00:00+00:00    0.091630   73449600
...                               ...        ...
2024-08-27 00:00:00+00:00  228.029999   35934600
2024-08-28 00:00:00+00:00  226.490005   38052200
2024-08-29 00:00:00+00:00  229.789993   51906300
2024-08-30 00:00:00+00:00  229.000000   52990800
2024-09-03 00:00:00+00:00  222.770004   50042900

[11022 rows x 10 columns]

`yfinance.Tickers()` has no `actions`, `dividends`, `splits`, or `capital_gains` attributes.

Or we can use the function `.equity.price.historical()` of the `openbb` library in Python, with the parameter `provider="yfinance"`:

In [30]:
spy_obb = obb.equity.price.historical(
    "SPY",
    start_date="2000-01-01",
    end_date="2024-08-31",
    provider="yfinance"
)

spy_obb

,open,high,low,close,volume,split_ratio,dividend,capital_gains
date,,,,,,,,
2000-01-03,148.250000,148.250000,143.875000,145.437500,8164300,0.0,0.0,0.0
2000-01-04,143.531250,144.062500,139.640625,139.750000,8089800,0.0,0.0,0.0
2000-01-05,139.937500,141.531250,137.250000,140.000000,12177900,0.0,0.0,0.0
2000-01-06,139.625000,141.500000,137.750000,137.750000,6227200,0.0,0.0,0.0
2000-01-07,140.312500,145.750000,140.062500,145.750000,8066500,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-08-26,563.179993,563.909973,559.049988,560.789978,35788600,0.0,0.0,0.0
2024-08-27,559.489990,562.059998,558.320007,561.559998,32693900,0.0,0.0,0.0
2024-08-28,561.210022,561.650024,555.039978,558.299988,41066000,0.0,0.0,0.0
2024-08-29,560.309998,563.679993,557.179993,558.349976,38715200,0.0,0.0,0.0
2024-08-30,560.770020,564.200012,557.140015,563.679993,62700100,0.0,0.0,0.0

It is notable that there is an "Adj Close" volumn in the data downloaded with `yf.download()` which is absent in the data downloaed with `obb.equity.price.historical()`, while three volumns "split_ratio", "dividend", and "capital_gains" are only included in the latter. And only the column names in the previous are starting with capital letters.

## 1.3 Fundamental Data of Corporations

Here is an example of balance sheet metrics of three stocks:

In [25]:
obb.equity.fundamental.metrics(
    "AAPL,MSFT,GOOG",
    provider="yfinance"
).T

                                         0                1                2
symbol                                AAPL             MSFT             GOOG
market_cap                 3387017396224.0  3043383836672.0  1944289017856.0
pe_ratio                         33.907154        34.727737        22.788794
forward_pe                       29.782085        26.883783        18.210104
peg_ratio                              3.0             2.14             1.01
peg_ratio_ttm                       2.1366           2.2084           1.0692
enterprise_to_ebitda                26.002           23.686           16.284
earnings_growth                      0.111            0.097            0.314
earnings_growth_quarterly            0.079            0.097            0.286
revenue_per_share                   24.957           32.986           26.353
revenue_growth                       0.049            0.152            0.136
enterprise_to_revenue                8.886           12.507            5.728
quick_ratio                          0.798            1.141            1.897
current_ratio                        0.953            1.275            2.079
debt_to_equity                     151.862           36.447            9.549
gross_margin                       0.45962          0.69764          0.57639
operating_margin                   0.29556          0.43143          0.32363
ebitda_margin                      0.34175          0.52804          0.35176
profit_margin                      0.26441          0.35956          0.26702
return_on_assets                   0.22612          0.14802          0.15961
return_on_equity                   1.60583          0.37133          0.30871
dividend_yield                      0.0045           0.0073            0.005
dividend_yield_5y_avg               0.0066            0.009              NaN
payout_ratio                        0.1476           0.2483           0.0287
book_value                           4.382           36.115           24.408
price_to_book                    50.837517        11.337117         6.498279
enterprise_value             3426528526336    3065704349696    1880483037184
overall_risk                           1.0              1.0             10.0
audit_risk                             6.0              3.0              9.0
board_risk                             1.0              4.0              8.0
compensation_risk                      2.0              2.0             10.0
shareholder_rights_risk                1.0              2.0             10.0
beta                                  1.24            0.896            1.039
price_return_1y                   0.217921         0.229993         0.171678
currency                               USD              USD              USD